@import "src/assets/styles/sass/mixins";

.modalsContainer {
  @include modalsContainer();

  .textDelete {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 24px 30px 24px;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    word-wrap: break-word !important;
  }

  .buttonContainer {
    @include buttonModals-container();

    .modalsButton {
      @include button-modals();
    }

    .modalsButtonDelete {
      @include button-modals();
      opacity: 1;
      background: #FF3636;
      box-shadow: 0 4px 18px rgba(255, 54, 54, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    }
  }
}
