@import "src/assets/styles/sass/mixins";

.container {
  height: 590px;
  width: 1048px;
  margin: 80px auto 0 auto;

  .interaction {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0;

    .buttonRemoveBtn {
      background: #FFFFFF;
      border: none;
      cursor: pointer;

      .filterRemoveBtn {
        width: 40px;
        height: 36px;
      }

      .filterRemoveBtnDisabled {
        width: 40px;
        height: 36px;
        opacity: 0.2;
      }
    }
  }

  .tableContainer {
    @include table-container(1048px);

    .teachIcon {
      &:disabled {
        opacity: 0.2;
      }
    }

    .editIcon {
      &:disabled {
        opacity: 0.2;
      }
    }

    .deleteICon {
      &:disabled {
        opacity: 0.2;
      }
    }
  }
}

.tableFirstCellBody, .tableFourthCellBody {
  max-width: 220px !important;
  min-width: 220px !important;
  height: 48px !important;
  word-wrap: break-word !important;
  cursor: pointer;
  display: flex !important;
  flex-direction: row;
  align-items: center;

    .PackImg {
      margin-right: 5px;
      width: 57px;
      height: 36px;
    }
}

.tableFirstCellBody{
  padding-bottom: 30px !important;
}

.pageManagement {
  display: flex;
  padding-bottom: 20px;
}

