@import "src/assets/styles/sass/mixins";


.container {
  height: 590px;
  width: 1048px;
  margin: 80px auto 0 auto;

  .interaction {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0;

    .buttonRemoveBtn {
      background: #FFFFFF;
      border: none;
      cursor: pointer;

      .filterRemoveBtn {
        width: 40px;
        height: 36px;
      }
    }
  }

  .tableContainer {
    @include table-container(1048px);

    .teachIcon {
      &:disabled {
        opacity: 0.2;
      }
    }
  }
}

.tableFirstCellBody, .tableFourthCellBody {
  max-width: 220px !important;
  min-width: 220px !important;

  word-wrap: break-word !important;
}

.pageManagement {
  display: flex;
  padding-bottom: 20px;
}

