@import "src/assets/styles/sass/mixins";

.tableHead {
  background: #EFEFEF !important;
  font-family: $mainFont !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px !important;


  .tableFirstCell {
    max-width: 200px;
  }

  .tableSecondCell {
    max-width: 222px;
  }

  .tableSortLabel {
    max-width: 153px;
  }
}