.containerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  .titleButton {
    display: flex;
    font-family: Montserrat, sans-serif !important;
    font-style: normal !important;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
  }

  .tableButton {
    width: 184px;
    height: 36px;

    font-family: Montserrat, sans-serif !important;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 20px !important;
    text-align: center !important;
    letter-spacing: 0.01em !important;
    text-transform: none !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px !important;
  }
}



