@import "src/assets/styles/sass/mixins";

.discreteContainer {
  @include attributes-container(196px);

  margin-top: 100px;

  .discreteItems {
    width: 210px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .discreteField {
      width: 36px;
      height: 36px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .slider {
      width: 155px !important;
      height: 5px !important;
      margin: 0 12px;

    }
  }
}





