@import "src/assets/styles/sass/mixins";

.searchContainer {
  @include attributes-container(413px);

  .searchField {
    display: flex;
    align-items: center;
    width: 100%;
    height: 34px;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #d7cbcb !important;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    box-shadow: none;

    .searchIcon {
      padding: 10px;
    }

    .searchInput {
      width: 100%;
    }
  }
}



