@import "src/assets/styles/sass/mixins";

.searchContainer {
  @include attributes-container(413px);

  .searchField {
    display: flex;
    align-items: center;
    width: 413px;
    height: 36px;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #d7cbcb !important;

    border: 1px solid;
    border-radius: 2px;

    .searchIcon {
      padding: 10px;
    }

    .searchInput {
      width:413px;
    }
  }
}



