@import "../../../assets/styles/sass/mixins";

.newPasswordContainer {

  @include global-container(372px);

  .newPasswordHeaderText {

    @include header-container;

    margin-top: 35px;
  }

  .fields {

    @include fields-container;
  }

  .newPasswordDescription {

    @include description-container;

    text-align: left;
  }

  .newPasswordButton {

    @include button-container;

    margin-top: 60px;
  }
}
