@import "src/assets/styles/sass/mixins";


.container {
  height: 590px;
  width: 1008px;
  margin: 80px auto 0 auto;

  .profileReturnBack {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 155px;

    .profileLinkContainer {
      text-decoration: none;

      .profileReturnBackImg {
        width: 16px;
        height: 11px;
      }

      .profileReturnBackText {

        @include header-container;

        font-size: 16px;
      }
    }
  }

  .interaction {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px;

  }

  .tableContainer {
    @include table-container(1008px);

  }

  .pagePackEmptyDescription {
    @include description-container()
  }

  .pagePackEmptyBtn {
    @include button-container();
    width: 171px;
  }
}
