@import "src/assets/styles/sass/mixins";

.titleModals {
  display: flex;
  justify-content: space-between;
  width: 395px;
  height: 60px;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  padding: 24px;

  font-family: $mainFont;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
}